.Main
{
    background-color: #000000;
    color:#FFFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.GameLink
{
    text-align: center;
    font-size: 4vh;
    border:2px solid white;
}

.UpClass
{
    background-color: #212121;
    height: 10%;
    line-height: 100%;
    text-align: center;
    font-size: 8vh;

    margin-bottom: 3%;
}

a{
    text-decoration: none;
}

a:link {
    color: gray;
  }
  
a:visited {
    color: gray;
  }

a:hover {
    color: white;
  }

a:active {
    color: gray;
  }